# Environment variables
.env
.env.*
!sample.env
!.env.example

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Uploads directory
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log

# Build files
build/
dist/

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
*.swo